@using GameStore.BLL.Enums
@using GameStore.Resources
@model GameStore.WebUI.ViewModels.Payment.PaymentViewModel

@{
    ViewBag.Title = GlobalRes.PaymentCreating;
}

<h3>@ViewBag.Title</h3>

<div class="well">
    @{
        switch (Model.PaymentType)
        {
            case PaymentType.Visa:
                @Html.Partial("_VisaPartial")
                break;
            case PaymentType.Bank:
                @Html.Partial("_BankPartial")
                break;
            case PaymentType.Terminal:
                @Html.Partial("_TerminalPartial")
                break;
        }
    }
</div>