@using BootstrapSupport
@model IEnumerable<GameStore.BLL.Models.CommentModel>

@{
    ViewBag.Title = "Comments";
}



<div class="well">
    @using (Html.BeginForm("NewComment", "Comment", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>New comment</legend>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    @Html.ActionLink("Back to game", "Details", new { gameKey = Model.GameKey }, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </div>
        </fieldset>
    }
</div>