@model GameStore.WebUI.ViewModels.GamesFiltersViewModels.GamesFilterViewModel
<div id="filter-form">
    @*@using (Html.BeginForm("Get", "Game", null, FormMethod.Get, new { id = "filter-form" }))
        {*@
    <h3>Filters</h3>
    @Html.EditorForModel("GamesFilterViewModel")
    <div class="pull-left">
        <input type="submit" value="Apply" class="btn btn-info" />
    </div>
    @*}*@
</div>